.player-controls{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.progressBar{
  width: 50%;
}
.volume-control{
  width: 50%;
  display: flex;
  justify-content: center;
}
.volume-icon{
  font-size: 26px;
  margin-top: 8px;
}
.buttons-main{
  display: flex;
}
.play-button{
  margin: 0px 75px;
}
.icons-size{
font-size: 28px;
cursor: pointer;
}
.vol-main{
  display: flex;
}
.heading{
  width: 50%;
  text-align: center;
}
.music-player{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
